body {
background-color: #f2f2f2;
color: #555;

-webkit-font-smothing: antialiased;
-webkit-overflow-scrolling: touch;


}
.navbar {
  margin-bottom: 0;
}
.twitter {
  width: 16px;
  margin: 0;
  padding: 0;
}
